<main>
  <div class="bg-primary-100 pt-md-9 pt-3 pb-md-7 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-6 offset-md-1 offset-lg-3">
          <blockquote
            class="position-relative py-9 mb-0 mb-md-4 fs-4 text-center text-primary-800"
          >
            <img
              class="d-md-none position-absolute start-50 top-0 translate-middle-x"
              src="<%= url_for(`/images/quote-left.png`) %>"
              alt="quote-left"
            />
            <img
              class="d-none d-md-block position-absolute start-0 top-0"
              src="<%= url_for(`/images/quote-left.png`) %>"
              alt="quote-left"
            />
            <p class="mt-3 mt-md-0 mb-3">
              讓使用者在觀賞與使用的旅程中，發現<mark class="mark p-0"
                >設計的價值</mark
              >
            </p>
            <p>
              而我在設計與開發的過程中，看見<mark class="mark p-0"
                >自己的價值</mark
              >
            </p>
            <img
              class="d-none d-md-block position-absolute end-0 bottom-0"
              src="<%= url_for(`/images/quote-right.png`) %>"
              alt="quote-right"
            />
          </blockquote>
        </div>
      </div>
      <!-- <div class="row row-gap-4 justify-content-center pb-7">
        <div class="col-10 col-md-4 col-lg-3">
          <div class="text-center">
            <h6
              class="border-half position-relative d-inline-block pb-1 mb-2 lh-base fw-normal text-primary-600"
            >
              2B經驗
            </h6>
            <p class="text-primary-700">
              內部監控系統、庫存系統、採購系統、行銷整合系統
            </p>
          </div>
        </div>
        <div class="col-10 col-md-4 col-lg-3">
          <div class="text-center">
            <h6
              class="border-half position-relative d-inline-block pb-1 mb-2 lh-base fw-normal text-primary-600"
            >
              2C經驗
            </h6>
            <p class="text-primary-700">
              跨國美妝保養電商、個人品牌網站、醫美網站、電子商務
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <section class="py-md-7 py-2 bg-primary-100">
    <div class="container">
      <h2
        class="title-deco py-7 py-md-9 text-center text-primary-700 tracking-wide fw-semibold"
      >
        我的作品
      </h2>
      <ul class="row row-gap-7 mb-6 mb-md-7 list-unstyled">
        <li class="col-12 col-md-6 mb-2 mb-md-7">
          <div class="card bg-transparent border-0">
            <button
              data-bs-toggle="modal"
              data-bs-target="#collectionModal1"
              class="bg-transparent border-0"
              type="button"
            >
              <img
                src="/hexo-theme/images/work-image1.png"
                class="card-img-top rounded-4"
                alt="work-1"
              />
            </button>
            <div class="card-body pb-0">
              <h3 class="card-title text-primary-700">好嗨遊旅遊訂購平台</h3>
              <p class="card-text mb-3 mb-md-4 text-primary-500">
                口袋友善方案 輕鬆遊台灣
              </p>
              <div class="d-flex gap-3">
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  網頁設計
                </span>
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  響應式設計
                </span>
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  Vue框架
                </span>
              </div>
            </div>
          </div>
        </li>
        <li class="col-12 col-md-6 mb-2 mb-md-7">
          <div class="card bg-transparent border-0">
            <button
              data-bs-toggle="modal"
              data-bs-target="#collectionModal2"
              class="bg-transparent border-0"
              type="button"
            >
              <img
                src="/hexo-theme/images/work-image2.png"
                class="card-img-top rounded-4"
                alt="work-1"
              />
            </button>
            <div class="card-body pb-0">
              <h3 class="card-title text-primary-700">Hexo部落格-切版練習</h3>
              <p class="card-text mb-3 mb-md-4 text-primary-500">
                靜態作品集網站切版練習 基礎架構與Bootstrap模組
              </p>
              <div class="d-flex gap-3">
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  網頁設計
                </span>
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  響應式設計
                </span>
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  Bootstrap
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- <ul class="row row-gap-7 mb-6 mb-md-7 list-unstyled">
        <% for (const collectionKey in site.data.collections) { %> <% const
        collection = site.data.collections[collectionKey] %>
        <li class="col-12 col-md-6 mb-2 mb-md-7">
          <div class="card bg-transparent border-0">
            <button class="bg-transparent border-0" type="button">
              <img
                src="/hexo-theme/images/work-image<%=collection.id %>.png"
                class="card-img-top rounded-4"
                alt="work-<%=collection.id %>"
              />
            </button>
            <div class="card-body pb-0">
              <h3 class="card-title text-primary-700">
                <%= collection.name %>
              </h3>
              <p class="card-text mb-3 mb-md-4 text-primary-500">
                <%= collection.description %>
              </p>
              <div class="d-flex gap-3">
                <% for (const tagKey in collection.tags) { %> <% const tag =
                collection.tags[tagKey] %>
                <span
                  class="badge fs-6 lh-base fw-normal text-primary-700 bg-primary-200 rounded-4"
                >
                  <%= tag %>
                </span>
                <% } %>
              </div>
            </div>
          </div>
        </li>
        <% } %>
      </ul> -->
    </div>

    <div
      class="modal"
      id="collectionModal1"
      tabindex="-1"
      aria-labelledby="modal"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered mx-md-0 mx-4"
        style="--bs-modal-width: 1076px"
      >
        <div class="modal-content rounded-4">
          <div
            class="modal-header pt-6 pb-0 px-6 px-md-7 mb-4 mb-md-7 border-0"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="px-6 px-md-9">
            <h3 class="modal-title mb-2 text-primary-700 text-center">
              好嗨遊旅遊訂購平台
            </h3>
            <p class="mb-4 mb-md-7 text-primary-500 text-center">
              口袋友善方案 輕鬆遊台灣
            </p>
            <div
              class="row row-gap-4 justify-content-center justify-content-md-between align-items-center mb-4 mb-md-7"
            >
              <div class="col-12 col-md-5 col-lg-7 text-primary-800">
                <p class="mb-0">Lucky Trip 為我在 Vue 個人專案的旅遊網站。</p>
                <p class="mb-0">
                  主要從台灣輕旅遊出發，主推一日旅遊，讓少人數也可以成團。無需擔心傳統旅遊時人數太多問題。
                </p>
              </div>
              <div
                class="divider col-12 col-md-5 w-auto text-center text-md-start ps-md-4 pt-4 pt-md-0 text-primary-600"
              >
                <p class="d-md-none mb-1">設計原則</p>
                <p class="d-md-none mb-3">台灣輕旅遊、簡單乾淨、視覺舒適度高</p>
                <p class="d-md-none mb-1">開發方式</p>
                <p class="d-md-none mb-0">Bootstrap、Javascript、RWD、Vue</p>
                <p class="d-none d-md-block mb-1">
                  設計原則：台灣輕旅遊、簡單乾淨、視覺舒適度高
                </p>
                <p class="d-none d-md-block mb-0">
                  開發方式：Bootstrap、Javascript、RWD、Vue
                </p>
              </div>
            </div>
          </div>
          <div class="modal-body py-7 text-center bg-primary-100">
            <img
              class="img-fluid mt-0 mt-md-7 mb-3 mb-md-4 rounded-4"
              src="/hexo-theme/images/modal-image1.png"
              alt="modal-image1"
            />
            <h4 class="mb-2 mb-md-3 fs-5 text-primary-800">主視覺</h4>
            <p class="mb-9 text-primary-600">
              主視覺推薦行程，透過景點照片去選取自己想要購買的旅遊。
            </p>
            <img
              class="img-fluid mb-3 mb-md-4 rounded-4"
              src="/hexo-theme/images/modal-image2.png"
              alt="modal-image2"
            />
            <h4 class="mb-2 mb-md-3 fs-5 text-primary-800">推薦查詢</h4>
            <p class="mb-md-7 text-primary-600">
              給予最精準，以及最熱門的景點推薦，協助使用者進行選擇。
            </p>
          </div>
          <div class="bg-primary-100 text-center pb-5">
            <button type="button" class="btn btn-dark btn-lg">
              <a
                href="https://macy1215.github.io/lucky_trip/#/"
                target="_blank"
                class="text-decoration-none text-white"
                >前往網站</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal"
      id="collectionModal2"
      tabindex="-1"
      aria-labelledby="modal"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered mx-md-0 mx-4"
        style="--bs-modal-width: 1076px"
      >
        <div class="modal-content rounded-4">
          <div
            class="modal-header pt-6 pb-0 px-6 px-md-7 mb-4 mb-md-7 border-0"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="px-6 px-md-9">
            <h3 class="modal-title mb-2 text-primary-700 text-center">
              Hexo部落格-切版練習
            </h3>
            <p class="mb-4 mb-md-7 text-primary-500 text-center">
              靜態作品集網站切版練習 基礎架構與Bootstrap模組
            </p>
            <div
              class="row row-gap-4 justify-content-center justify-content-md-between align-items-center mb-4 mb-md-7"
            >
              <div class="col-12 col-md-5 col-lg-7 text-primary-800">
                <p class="mb-0">依照設計圖進行版面切版設計練習</p>
                <p class="mb-0">
                  網站介紹客戶作品，以及可提供服務項目，讓有需求的客戶可以提出需求聯繫設計需求。
                </p>
              </div>
              <div
                class="divider col-12 col-md-5 w-auto text-center text-md-start ps-md-4 pt-4 pt-md-0 text-primary-600"
              >
                <p class="d-md-none mb-1">設計原則</p>
                <p class="d-md-none mb-3">
                  專業網頁設計、協助開發、打造品牌樣式
                </p>
                <p class="d-md-none mb-1">開發方式</p>
                <p class="d-md-none mb-0">Bootstrap、Javascript、RWD</p>
                <p class="d-none d-md-block mb-1">
                  設計原則：專業網頁設計、協助開發、打造品牌樣式
                </p>
                <p class="d-none d-md-block mb-0">
                  開發方式：Bootstrap、Javascript、RWD
                </p>
              </div>
            </div>
          </div>
          <div class="modal-body py-7 text-center bg-primary-100">
            <img
              class="img-fluid mt-0 mt-md-7 mb-3 mb-md-4 rounded-4"
              src="/hexo-theme/images/modal-image3.png"
              alt="modal-image1"
            />
            <h4 class="mb-2 mb-md-3 fs-5 text-primary-800">主視覺</h4>
            <p class="mb-9 text-primary-600">可直接線上觀看作品，價錢明確。</p>
            <img
              class="img-fluid mb-3 mb-md-4 rounded-4"
              src="/hexo-theme/images/modal-image4.png"
              alt="modal-image2"
            />
            <h4 class="mb-2 mb-md-3 fs-5 text-primary-800">聯絡需求</h4>
            <p class="mb-md-7 text-primary-600">
              不擔心找不到設計師，可以直接線上寫需求。
            </p>
          </div>
          <div class="bg-primary-100 text-center pb-5">
            <button type="button" class="btn btn-dark btn-lg">
              <a
                href="https://macy1215.github.io/rwdweek2/#"
                target="_blank"
                class="text-decoration-none text-white"
                >前往網站</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
